body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.quienes-somos {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #45ffe6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.quienes-somos h1 {
    text-align: center;
    color: #333;
}

.img-haburguesa{
    width: 100%;
    border-radius: 8px;
    margin: 15px 0;
}
.quienes-somos p {
    color: #555;
    line-height: 1.6;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #fde510;
    color: rgb(12, 11, 11);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #f3ec8e;
}

.hidden {
    display: none;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #ff5722;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.social-icons {
    margin-top: 10px;
}
.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.social-icons img {
    width: 24px;
    height: 24px;
}