*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.content{
    min-height: 80px;
    background-color: linear-gradient( rgba(203,18,133,1)0% rgba(80,49,145,1)70%);
}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 25px;
    color: rgb(14, 9, 4);
    text-transform: uppercase;
    font-weight: bold;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #f50c6de1;
    display: block;
    font-weight: bold;
}
.menu .navbar ul li a:hover{
    color: rgba(77, 74, 74, 0.884);
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
h1{
    margin: 80px 0 0 350px;
}
@media(max-width:991px){
    .content{
        min-height: 70px;
    }
    .menu{
        top: 0;
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(
        rgba(203,18,133,1)0%
        rgba(80,49,145,1)70%
    );
    display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
}
.opciones li{
    float: left;
    list-style: none;
}

.opciones li a{
    color: black;
    padding: 25px;
    text-decoration: none;
    border: 4px solid black;
}

.opciones li a:hover{
    background: rgb(184, 208, 230);
}

.cuerpo{
   overflow: hidden;
}
.caja{
    float: left;
    width: 380px;
    margin: 8px;
    border: 1px solid;
}

.subtitulo{
    background: rgb(243, 190, 91);
}

.servicios{
    color:rgb(15, 1, 9);
    text-align: center;
    padding: 15px 0;
}

.efecto:hover{
opacity: 0.9;
cursor: pointer;
}
.contenido{
    padding: 20px;
    text-align: justify;
}

.boton{
    padding: 15px 20px;
    margin: 12px 0;
    color: rgb(18, 17, 19);
    background: rgb(205, 247, 55);
    border-radius: 5px;
}

.boton:hover{
    background: rgb(248, 165, 165);
    cursor: pointer;
}

.titulo{
    text-align: center;
    padding: 10px 0 15px 0;
    color: rgb(22, 29, 7);
    font-size: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #ff5722;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
.social-icons {
    margin-top: 10px;
}
.social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.social-icons img {
    width: 24px;
    height: 24px;
}


/* CSS for jQuery Orbit Plugin 1.2.3
 * www.ZURB.com/playground
 * Copyright 2010, ZURB
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 
 
 
/* PUT IN YOUR SLIDER ID AND SIZE TO MAKE LOAD BEAUTIFULLY
   ================================================== */
   #featured { 
    margin-top: 160px;
	width: 940px;
	height: 450px;
	background: #000 url('imge/loading.gif') no-repeat center center;
	overflow: hidden; }
#featured>img,  
#featured>div,
#featured>a { display: none; }




/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 1px;
    height: 1px;
    position: relative; }

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }

div.orbit>img {
    position: absolute;
    top: 0;
    left: 0;
    display: none; }

div.orbit>a {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0; 
    display: none; }

.orbit>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */

div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 1001; }

span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(imge/rotator-black.png) no-repeat;
    z-index: 3; }

span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

span.rotator.move {
    left: 0 }

span.mask.move {
    width: 40px;
    left: 0;
    background: url(imge/timer-black.png) repeat 0 0; }

span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(imge/mask-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

span.pause.active {
    background: url(imge/pause-black.png) no-repeat 0 -40px }

div.timer:hover span.pause,
span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    color: #fff;
	text-align: center;
	padding: 7px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; }


/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
    display: block }

div.slider-nav span {
    width: 78px;
    height: 100px;
    text-indent: -9999px;
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -50px;
    cursor: pointer; }

div.slider-nav span.right {
    background: url(imge/right-arrow.png);
    right: 0; }

div.slider-nav span.left {
    background: url(imge/left-arrow.png);
    left: 0; }

/* BULLET NAV
   ================================================== */

.orbit-bullets {
    position: absolute;
    z-index: 1000;
    list-style: none;
    bottom: -40px;
    left: 50%;
	margin-left: -50px;
    padding: 0; }

.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(orbit/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }
    
.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }
